aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

aside .logo img {
    box-sizing: border-box;
    padding: 50px;
    width: 100%;
}

@media(max-width:576px) {
    aside.logo {
        justify-content: center;
    }

    aside.logo img {
        width: 100%;
    }
}